<div>
    <h2>
      <%= @post.author.first_name.capitalize %>
      <%= @post.author.last_name.capitalize %>
    </h2>
    <h4><%= @post.content %></h4>
  <h3>Post a comment</h3>
  <%= render 'shared/comment_form', collection: @post.comments %>
  <h3>Comments(<%= @comments.count %>)</h3>
  <% @comments.desc.each do |comment| %>
    <li class="<%= comment.id %>">
      <h3>
        <%= comment.author.first_name.capitalize %>
        <%= comment.author.last_name.capitalize  %>
      </h3>
      <h4><%= comment.content %></h4>
      <span>
        Commented <%=time_ago_in_words(comment.created_at) %> ago.
      </span>
      <% if comment.author_id == current_user.id %>
        <%= link_to 'Delete', post_comment_path(@post.id, comment.id),
                    method: :delete, class: 'text-danger' %>
      <% end %>
    </li>
  <% end %>
</div>